*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.hero{
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    z-index: 1;
    width: 100%;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}
.nav-bar ul li{
    margin: 20px;
    text-decoration: none;
    
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
}

.bg{
    background: url(./img/hamburger.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    
}
.bg h1{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
